body {
  background-color: #000;
  color: #ccc;
}

a {
  color: #999;
}

header {
  margin-bottom: 32px;
}

main {
  text-align: center;
  width: auto;
}

footer {
  font-size: .8em;
  margin-top: 32px;
  text-align: center;
  width: auto;
}

footer div {
  display: inline;
  padding: 8px;
}

