/* Colors and styles */

body {
  background-color: #000;
  color: #ccc;
}

a {
  color: #999;
}

.control-block {
  border: 1px solid #333;
}

.control .title {
  border-bottom: 1px dashed #333;
}

/* Layout */

header {
  margin-bottom: 32px;
}

main {
  text-align: center;
  width: auto;
}

footer {
  font-size: .8em;
  margin-top: 32px;
  text-align: center;
  width: auto;
}

footer div {
  display: inline;
  padding: 8px;
}

.control-block {
  display: inline-block;
  margin: 1em;
}

.control {
  display: grid;
  grid-template: "title  title"
                 "button value";
}

.control * {
  margin: 1em;
}

.control .title {
  grid-area: title;
}

.control button {
  grid-area: button;
}

.control .value {
  grid-area: value;
}

